@media only screen and (min-width:320px) and (max-width:768px) {
   .bus_ticket{
    font-size: medium;
   }
   .bus_ticket a{
    padding: 5px 10px;
       }
    .d-sm_none{
        display: none;
    }
    .rail_ticket{
        font-size: medium;
        width: fit-content;
        margin: 5px 0px;
    }
    .rail_ticket .off{
        font-size: small !important;
        width: 50px;
        left: 160px;

    }
    .helpers{
        padding-left: 7px;
        align-self:flex-start;
        gap: 20px;
    }
    .banner_title{
        font-size: 20px;
        line-height: normal;
    }
    .home_banner{
        background-image: none;
    }
    .separator{
        width: 300px;
        height: 1px;
    }
    .input_box{
        align-self: center;
    }
    .input_box,.input_box>div{
        font-size: medium;
        flex-direction: column;
    }
    .from_to_separator{
        display: none;
    }
    .search_bus{
        box-shadow: 0px 0px 5px 2px red;
    }
    .date{
        margin: 10px 0px;
    }
    .enjoy_app{
        background-image: none;
    }
    .enjoy_banner{
        width: 200px;
      padding: 10px 140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }  
    .enjoy_banner ul{
        padding-top: 20px;
        font-size: 17px;
        width: 200px;
        padding-left: 0px;
    } 
   
}